<!-- Header -->
<header>



    <nav class="gla_light_nav gla_image_bck gla_wht_txt" style="background-color: rgb(0, 0, 0);" data-color:"#000">

        <div class="container">

            <div class="gla_logo_container clearfix">
                <!-- <img src="images/glanz_logo.png" alt="" class="gla_logo_rev"> -->
                <div class="gla_logo_txt">
                    <!-- Logo -->
                    <a href="/" class="gla_logo">Mitchell & Laura</a>

                    <!-- Text Logo -->
                    <div class="gla_logo_und">March 18, 2020</div>
                </div>
            </div>

            <!-- Menu -->
            <div class="gla_main_menu gla_main_menu_mobile">

                <div class="gla_main_menu_icon">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <b>Menu</b>
                    <b class="gla_main_menu_icon_b">Back</b>
                </div>
            </div>

            <!-- Menu Content -->

            <!-- menu content end -->

            <!-- Top Menu -->
            <div class="gla_default_menu">
                <ul>
                    {% for item in site.data.menu.menu %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
                <!-- <ul>
                    <li class="">
                        <a href="#">Location</a>
                    </li>

                    <li class="">
                        <a href="#">RSVP</a>
                    </li>

                    <li class="">
                        <a href="#">Questions</a>
                    </li>

                </ul> -->
            </div>

            <!-- Top Menu End -->



        </div>
        <!-- container end -->
    </nav>

</header>
<!-- Header End -->