<!-- section -->
<section class="gla_section">


    <!-- boxes -->
    <div class="gla_icon_boxes row text-left">
        <div class="container text-center">
            <p>
                <img src="images/animations/flower6.gif" data-bottom-top="@src:images/animations/flower6.gif; opacity:1" class="gla_animated_flower"
                    height="110" alt="">
            </p>
            <h2>Wedding Details</h2>
            <h3 class="gla_subtitle">When & Where</h3>
            <p>Wild Wood, situated in Kangaroo Valley, is filled with rustic charm and surrounded by breath taking bushland that suits our adventurous hearts. Enjoy the natural beauty while sharing our special day with us. </p>
            <p>The ceremony will begin at 3pm sharp. </p>
            <!-- <p>There is a courtesy bus that will pick you up from your accomodation, as parking is extremely limited at the venue.</p>
                            <p>At the end of the night, the bus will be making multiple trips back to town to take everyone back to their accomodation.</p> -->
            <div class="col-md-12">
                <a href="#" class="gla_news_block">
                    <span class="gla_news_img">
                        <span class="gla_over" data-image="https://www.visitnsw.com/sites/visitnsw/files/styles/gallery_full_width/public/2019-06/164720-3.jpg?itok=ivXPaWPu"></span>
                    </span>


                    <span class="gla_news_title">Wedding Ceremony</span>
                    <p>Wildwood, Kangaroo Valley.
                        <br>
                        <b>March 18, 2020</b>
                    </p>

                </a>
            </div>
        </div>
        <!-- item -->

    </div>
    <!-- boxes end -->


    <!-- container end -->

</section>
<!-- section end -->

<!-- section -->
<section class="gla_section">

    <div class="gla_map">

        <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1Db39qSrYMFfOT9Momg4l4VQEOng&hl=en" width="100%" height="480"></iframe> -->
        <!-- <iframe width="100%" height="480" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=-34.7320%2C150.4833&key=AIzaSyCFziKILUbYH-dS1dviOd7_5Ci42CTBH68" allowfullscreen></iframe> -->
        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=-34.7320%2C150.4833&key=AIzaSyCFziKILUbYH-dS1dviOd7_5Ci42CTBH68"
            allowfullscreen></iframe>
    </div>

</section>
<!-- section end -->