<section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.2" data-image="images/home/PC291428.jpg">
            
    <!-- Over -->
    <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>
    
    <div class="container text-center">
        <p><img src="images/animations/rsvp_wh.gif" data-bottom-top="@src:images/animations/rsvp_wh.gif" height="200" alt=""></p>
        
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <form action="https://formspree.io/lauraandmitch.wedding@gmail.com" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Your name*</label>
                            <input type="text" name="Name" class="form-control form-opacity" required>
                        </div>
                        <div class="col-md-6">
                            <label>Your e-mail*</label>
                            <input type="text" name="email" class="form-control form-opacity" required>
                        </div>
          
                        <div class="col-md-6">
                            <label>Will you attend?</label>

                            <input type="radio" name="Attending" value="Yes, I will be there">
                            <span>Yes, I will be there</span><br>
                            <input type="radio" name="Attending" value="Sorry, I can't come">
                            <span>Sorry, I can't come</span>
                            
                        </div>
                        <div class="col-md-6">
                            <label>Meal preference</label>
                            <select name="Meal" class="form-control form-opacity">
                                <option value="I eat anything">I eat anything</option>
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="Vegan">Vegan</option>
                                <option value="Gluten Free">Gluten Free</option>
                                <option value="Other">Other - Please specify in notes</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label>Notes</label>
                            <textarea name="Message" class="form-control form-opacity"></textarea>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn submit" value="Send">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        
    </div>
    <!-- container end -->

</section>
