---
layout: default
title: Home
---
        <!-- Slider -->
        <div class="gla_slider gla_image_bck  gla_wht_txt gla_fixed" data-image="images/wedding/P7281055.jpg"
            data-stellar-background-ratio="0.8">

            <!-- Over -->
            <div class="gla_over" data-color="#1e1d2d" data-opacity="0.6"></div>


            <div class="container">


                <!-- Slider Texts -->
                <div class="gla_slide_txt gla_slide_center_middle text-center">
                    <div class="gla_flower gla_flower2">
                        <div class="gla_flower2_name_l">Laura
                        </div>
                        <div class="gla_flower2_name_r">Mitch
                        </div>
                        <!-- <img src="https://lh3.googleusercontent.com/4UQcbmwcHE2B10ivtnpis2ppAJss_b1lbZH9mFhxL-yawApJDLMlQqm0IgPAsvdDVn_lT4OYh19_PfDNDOASceK9-7OA-8YQh9jdDXt0u1empJ_Q5DArXtLfi_yQNB8OB4hn7viXIY0CPqxssRHv0aXnEAJxl-yOqMe55qFozHX-mz5tVdxahkL2RVGvRIEEVpQKCngNtl_MpVn9HW4s99caePj6RGzbtH-fBjx-l2zIrHnCDkNtufDGl6IxLQsUF7MtZh4XXFkMn7-V0tL89ZRPpTYDfb2kVkOy6OIpugHDh_geKwNA_qnfn70CMXithC5enDAihJgH9YtZKpwAxMnqHqZrM46dygEZl5qQDrr1NXxSNL5ARyy3egBWxP7JOtNCGsENfborfkY5dtP93shRm1mCdLon56Xlh62nSwDY0-cqmLkQp5MeHgwQSOT7rj56q9OUi09A8G4ZAFsNtnwOtd9H0xsAzcRIJCY1u6XZTMhAq0WTjl6pBH7GcWFzXN0qj-pk9rQJM5w-Fdj1LMbYuJ-wmzMhEO00jclwsD7jVKHxlsUZKeIWjaMG7ymE_dsf-ztb3obem7ovankssKQnVsbrH0XyAkJLySbs0Z565gRSO0o2v6vyVB6eI-6-hQ42fWCjBG_JOgDtkIaaKi4Heks1cExchCpjNIdyNBmYZkpT0I_lyYGc=w544-h966-no" alt=""> -->
                    </div>


                </div>
                <!-- Slider Texts End -->

            </div>
            <!-- container end -->

            <!-- Slide Down -->
            <a class="gla_scroll_down gla_go" href="#gla_content">
                <b></b>
                Scroll
            </a>


        </div>
        <!-- Slider End -->

        <!-- Content -->
        <section id="gla_content" class="gla_content">


            <!-- section -->
            <section class="gla_section gla_image_bck" data-color="#fafafd">

                <div class="container text-center">
                    <p>
                        <img src="images/animations/flower5.gif" data-bottom-top="@src:images/animations/flower5.gif; opacity:1" class="gla_animated_flower"
                            height="150" alt="">
                    </p>
                    <h2>Our Story</h2>
                    <h3 class="gla_subtitle">The Fourth of July</h3>



                    <p>My fiancé proposed on the Fourth of July. My mother asked us to go to the backyard to get some chairs
                        and he took me by the shed where we could see all of the fireworks. He kissed me, then he took the
                        ring box out of his pocket and asked me to be his wife. He was shaking a little. The proposal was
                        a little silly but perfect, just like him." — Jeska Cords</p>



                </div>
                <!-- container end -->

            </section>
            <!-- section end -->


            <!-- section -->
            <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.8" data-image="https://lh3.googleusercontent.com/4TGNvpTf5q6yoTX6gyTHivzqiGul35Vydvf0oFUX-DlBraa6PJNdf54fMel8VNhK-wptdTjb5A5kVVgOtQoBUCuccEj8mjhA72d3S2Z_IDbeXtDI6zlLzx69bO4uNDvXEtmYGqMbjG_hqi6i1Kn04pMoPXCnicG_X0g3ZlJLx6Q5-mUp5Pvw_Haz7ksKV-iqwwkx43T-L4I2ElyCwLHdCnzdOtmQHZpcB1WqvQ9IwgO2EA4vuHBglII5amu8XTs9-riVbJw1rZdIuqTaQa8s3IjOTC5_vtUVDTdmWSxhxIYzmZyPmmpcI5E5YnN4vCfIA6-clFaHK3eWRu134DspGkR58g7BxuirfxBMNxtvfsDHt0MT19DdquqIGdfiufRlwHzGojwzuQUvjagFH4jRF4MWA6bUvKkkMw8ycC-lcLwytlhzGyATX5CUanRD_grOdSJ4d93wKcdyyuc4v8qtetUU0RYdSRJyA65wjNm279r-BSaM5gxuhDyD4qdevbzYMl7sB7ygHbZ2WoP7BdrAL_bPyJwlxo9dPhZhy_c80qOJBJMFKQouyU46wUPJOEpdFe5BQGFQc58Takk3aFeq1SrkHEX7UysK_afUAJ9S11AHVmZ4YqNM6KrZeznfPdYMwRqvu7FyirosFh64JgPCf0hBQrx12QvcQVwpT3kZomSMPxH_GfIUnw6r=w1288-h966-no">

                <!-- Over -->
                <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>

                <div class="container text-center">
                    <p>
                        <img src="images/animations/savethedate_wh.gif" data-bottom-top="@src:images/animations/savethedate_wh.gif" height="150"
                            alt="">
                    </p>
                    <h2>March 18, 2020</h2>
                    <h3 class="gla_subtitle">Wildwood,
                        <br>Kangaroo Valley</h3>
                    <div class="gla_countdown" data-year="2020" data-month="03" data-day="18"></div>

                </div>
                <!-- container end -->

            </section>
            <!-- section end -->

            {% include map.html %}
            <!-- section -->
            <section class="gla_section">



                <!-- container end -->

            </section>
            <!-- section end -->


            {% include rsvp.html %}


            {% include image-tiles.html %}

            <!-- section -->
            <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.8" data-image="http://placehold.it/1400x800">

                <!-- Over -->
                <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>

                <div class="container text-center">
                    <p>
                        <img src="images/animations/thnyou_wh.gif" alt="" height="200" data-bottom-top="@src:images/animations/thnyou_wh.gif">
                    </p>



                </div>
                <!-- container end -->

            </section>
            <!-- section end -->






        </section>
        <!-- Content End -->